
#root {
  width: 100%;
  background-color: #EEEEEE;
  min-height: 100vh;
  height: auto;
}

main {
  min-height: 100vh;
  padding-bottom: 32px;
}

#brewMain {
  background-color: #fff;
}

#spinner {
  margin-top: 20%;
  text-align: center;
}

#logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  pointer-events: none;
}

.allButtons {
    box-sizing: border-box;
    color: #424242;
    letter-spacing: normal;
    text-transform: none;
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    border-color: #424242;
    border-width: 2px;
    border-style: solid;
    padding: .6em 1em;
}

.allButtons:hover,
.allButtons:focus {
  background-color: #EEEEEE;
  outline: none;
}

.links {
  text-decoration: none;
  color: inherit;
}

.links, links:hover, links:focus {
  outline: none;
}

#saveButton {
  background-color: white;
}

#saveButton:hover,
#saveButton:focus {
  background-color: #EEEEEE;
  outline: none;
}

#transferButton {
  background-color: white;
}

#transferButton:hover,
#transferButton:focus {
  background-color: #EEEEEE;
  outline: none;
}

#startBatch {
  margin-top: 32px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

.batchValue {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  flex-wrap: wrap;
}

#batchEnter {
  margin-top: 32px;
  margin-left: 16px;
  padding-bottom: 32px;
}

h2 {
  margin-left: 16px;
  padding-top: 32px;
}

#brewData {
  border-top: 1px solid #424242; 
  padding-bottom: 32px
}

#brewCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap
}

#brewTransfer {
  margin-top: 32px;
  margin-left: 16px;
}
.cFermenter {
  margin-top: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #5c4925;
  width: 250px;
  height: 250px;
}

.TankNumber {
  color: #5c4925;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 65px;
  height: 30px;
  border-radius: 6px;
  letter-spacing: normal;
  border: 2px solid #5c4925;
}

.TankNumber:hover,
.TankNumber:active {
  background-color: #5c4925;
  color: white;
  outline: none;
}

#fermenterVal {
  margin-top:0;
  margin-bottom: 0;
}

.fermenterData, h4 {
  margin: 0;
}

#fermentationBox {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;  
  justify-items: center;
  align-items: center;
  min-height: 98vh;
  background-color: white;
}

#fermentationSummary{
  grid-row: span 1;
  grid-column: span 2;
  width: 100%;
  margin-top: 1.5px;
  background-color: white;
}

.fermentationTitle {
  text-align: center;
}

#fermentationFormBox {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fermentationForm {
  margin-top: 32px;
  min-width: 425px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.137), 0 10px 5px rgba(0,0,0,0.22);
  margin-bottom: 20px;
  background-color: white;
}

.statusBar {
  box-shadow: 0 7px 2px rgba(0, 0, 0, 0.041), 0 5px 2px rgba(0, 0, 0, 0.068);
  height: 48px;
  width: 100.5%;
}

#fermentationVisuals {
  margin-top: 16px;
  width: 740px;
}

.tankText {
  background-color: black;
}

.fermentationData {
  border-bottom: 0.5px solid #424242;
  padding-bottom: 10px;
  min-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

#fermentationSave {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: none;
}

.organizeFermentation {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.gridStats {
  display: grid;
  grid-template-columns: 50% auto;
}

.stats {
  box-sizing: border-box;
  flex-grow: 2;
}

#mainBrewButton {
  display: none;
}

p {
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 950px) {
  #fermentationBox {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
  }

  #fermentationSummary{
    grid-column: span 1;
  }

  #fermentationFormBox {
    grid-row: 2 / 3;
  }

  #fermentationForm {
    margin-left: 32px;
    margin-right: 32px;
  }

  #fermentationVisuals {
    margin-top: 16px;
    padding-left: 65px;
    width: 640px;
  }
}

@media (max-width: 700px) {
  #navBrew {
    display: none;
  }
  #mainBrewButton {
    display: inherit;
    margin-top: 16px;
    text-align: center;
  }
  .batchValue {
    justify-content: center;
  }
  #batchEnter {
    text-align: center;
    margin-left: 0;
  }
  #brewTransfer {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 550px) {

  #fermentationForm {
    min-width: 275px;
  }

  .organizeFermentation {
    justify-content: center;
  }

  #selectCondition {
    text-align: center;
  }

  #fermentationVisuals {
    width: auto;
    padding-left: 35px;
  }
}
