.App {
  width: 100%;
  height: auto;
}


#logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 70px;
  pointer-events: none;
}

.topTitle {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #c5a901;
}

.allButtons {
    box-sizing: border-box;
    color: #5c4925;
    letter-spacing: normal;
    text-transform: none;
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    border-color: #5c4925;
    border-width: 2px;
    border-style: solid;
    padding: .6em 1em;
}

.links {
  text-decoration: none;
  color: inherit
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#brewMain {
  background-color: #d1d0bb;
  height: 100%;
}

#startBatch {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.batchValue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#batchEnter {
  margin-top: 8px;
  text-align: center
}

h2 {
  margin: 0;
  padding-top: 16px;
  text-align: center;
  font-family: 'Rakkas', cursive;
  font-weight: normal;
  font-size: 30px;
  color:  black;
}

.userInputs {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border: 2px solid #282c34;
  border-radius: 6px;
  background-color: white;
}

.cFermenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #5c4925;
  width: 250px;
  height: 250px;
}

.TankNumber {
  font-size: 20px;
  color: #5c4925;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 8px;
  padding-bottom: 6px;
  border: 2px solid white;
  border-radius: 6px;
}

.fermenterData, h4 {
  margin: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
