.App {
  width: 100%;
  height: auto;
}


#logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  pointer-events: none;
}

#homePageBrew {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #c5a901;
}

.allButtons {
    box-sizing: border-box;
    color: #5c4925;
    letter-spacing: normal;
    text-transform: none;
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    border-color: #5c4925;
    border-width: 2px;
    border-style: solid;
    padding: .6em 1em;
}

.links {
  text-decoration: none;
  color: inherit
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
